<html>
<head>
    <title>Search</title>
<style type="text/css">
#main {
    width:600px;
    height:100px;
    top:50%;
    left:50%;
    position:absolute;
    margin-left:-300px;
    margin-top:-50px;
    text-align:center;
}
input {
    font-size: xx-large;
}
p {
    text-align:left;
}
</style>
<script type="text/javascript">
function toggle(id) {
    var elem = document.getElementById(id);
    if(elem.style.display == 'none')
        elem.style.display = '';
    else
        elem.style.display = 'none';
}
</script>
</head>
<body>

<div id="main">
<form action="/search/" method="post">
    <input type="text" name="terms" /> <input type="submit" value="Search"/>
    <br />
    <input type="checkbox" name="record" id="recordSearch" checked="checked" /> <label for="recordSearch">Record my search</label> <a href="#" style="font-size:small" onclick="toggle('recordDetails')">What's this?!</a>
    <p id="recordDetails" style="display:none">
        When you search, the Code Peer Review system will perform two types of searches: a tag search, and a full-text search.  A tag search is very efficient, because it pre-tagged commits with tags overnight, tags like 'SHA1' or 'MD5' - things we predicted people would search for.  A Full-Text search however is very, <em>very</em> slow - we're searching every commit's diff for your search terms. When this checkbox is checked, we record the search term in a database table, along with the time, and a hash of your IP address. We're going to use this data to find the terms that the most number of people are interested in, and create tags from them, so the searches will be faster in the future.
        <br /> <br />
        Honest to goodness, we're really interesting in using this data to make the service better - and that's not lip service.  <a href="https://github.com/cryptodotis/code-audit-feed/issues/12">It's a long-standing bug.</a>  We'd appreciate your help.
        <br /> <br />
        <a href="#" style="font-size:small" onclick="toggle('logfiles')">Hey wait a second...</a>
    </p>
    <p id="logfiles" style="display:none">
        Technically, we're recording every search you make, because we have webserver logs that store your IP address along with the parameters because they're GET requests.  And yea, we reserve the right to read our logs to see if someone's trying to DoS us or something.  But the checkbox stores the data in a database table instead of just the webserver logs, and it gives a warm fuzzy feeling.
    <p>
</form>
</div>

</body>
</html>